<div class="sign-up-container">

  <div class="sign-up">

    <div class="sign-up__title title">Sign Up</div>

    <a class="sign-up__link" href="/sign-in">I have an account</a>

    <div #formError class="error"></div>

    <form class="sign-up__form" autocomplete="off"
          [formGroup]="form" (ngSubmit)="signUp()">

      <div class="control">
        <input id="username" type="text" name="username" placeholder="You Username..."
               formControlName="username"/>
        <div *ngIf="form.get('username').invalid && form.get('username').touched">
          <span class="error"
                *ngIf="form.get('username').errors.minlength">Name must be at least 4 characters long.</span>
        </div>
      </div>

      <div class="control">
        <input  id="email"  type="email" name="email" placeholder="You Email..."
                formControlName="email"/>
        <div *ngIf="form.get('email').invalid && form.get('email').touched">
          <span class="error"
                *ngIf="form.get('email').errors.email">I's not correct email.</span>
        </div>
      </div>

      <div class="control">
        <input id="password" type="password" name="password" placeholder="We need a password..."
               formControlName="password"/>
        <div *ngIf="form.get('password').invalid && form.get('password').touched">
          <span class="error"
                *ngIf="form.get('password').errors.minlength">Name must be at least 4 characters long.</span>
        </div>
      </div>

      <div class="control">
        <button type="submit">Sign Up</button>
      </div>

    </form>

  </div>

</div>
